@import "reset.css";

:root {
	--visual-sz-unit: 1rem;

	--default-font-family: "Instrument Sans", sans-serif;
	--default-font-optical-sizing: auto;
	--default-font-weight: 400;
	--default-font-style: normal;
	--default-font-variation-settings: "wdth" 100;

	--fs-1: 2rem;
	--fs-2: 1.5rem;
	--fs-3: 1.3rem;
	--fs-4: 1rem;
	--fs-5: 0.8rem;
	--fs-6: 0.7rem;

	--fw-bold:     700;
	--fw-semibold: 600;
	--fw-medium:   500;
	--fw-regular:  400;

	--border-radius: 1rem;
	--border-radius-small: 0.5rem;
    --border-circle: 50%;

	--side-panel-width: 25vw;
    --zoom-in-scale-factor: 1.3;

    --preview-img-3dmodel-width:    854;   /* px */
    --preview-img-3dmodel-height:   614;   /* px */
    --preview-img-animation-width:  1920;  /* px */
    --preview-img-animation-height: 1080;  /* px */

    --light-fg-color: #D0D3D4;
    --dark-fg-color: rgb(12, 24, 32);
    --primary-bg-color: rgb(14, 32, 36);
	--primary-light-bg-color: rgb(53, 68, 72);
	--primary-lighter-bg-color: rgb(158, 184, 188);
}

*, html, body {
	font-family: var(--default-font-family);
	font-size: var(--fs-4);
}

.fw-bold     { font-weight: var(--fw-bold);     }
.fw-semibold { font-weight: var(--fw-semibold); }
.fw-medium   { font-weight: var(--fw-medium);   }
.fw-regular  { font-weight: var(--fw-regular);  }

.fs-1 { font-size: var(--fs-1); }
.fs-2 { font-size: var(--fs-2); }
.fs-3 { font-size: var(--fs-3); }
.fs-4 { font-size: var(--fs-4); }
.fs-5 { font-size: var(--fs-5); }
.fs-6 { font-size: var(--fs-6); }

body {
	background-color: var(--primary-bg-color);
}

header {
	height: 10vh;
	display: flex;
	align-items: center;
	padding: 0 var(--visual-sz-unit);

	font-size: var(--fs-1);
	color: var(--light-fg-color);
}

site-wrapper {
	min-height: 90vh;
	width: 100%;
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
}

main {
	flex-grow: 1;
	display: flex;
	gap: var(--visual-sz-unit);
	padding-right: var(--visual-sz-unit);
}

panel {
	border-radius:  var(--border-radius-small);
    box-sizing: border-box;
    padding: var(--visual-sz-unit);
}

panel.main {
    display: flex;
    flex-direction: column;
    gap: var(--visual-sz-unit);

	width: calc(100% - var(--side-panel-width) - var(--visual-sz-unit));
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	background-color: var(--primary-lighter-bg-color);
}

panel.main > .title {
    font-size: var(--fs-1);
    font-weight: 600;
    color: var(--dark-fg-color);
    margin: var(--visual-sz-unit) 0;

    font-style: italic;
}

panel.main > cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--visual-sz-unit);
}

.card {
    display: flex;

    box-sizing: border-box;
    border-radius: var(--border-radius-small);

    text-decoration: none;
    transition: transform 240ms cubic-bezier(.2,.8,.2,1),
                box-shadow 240ms cubic-bezier(.2,.8,.2,1);
    transform-origin: center top;
    will-change: transform;

    z-index: 0;
    overflow: hidden;
}

.card > .thumb-container {
    position: relative;
    flex: 1;

    width: 100%;
}

.card > .thumb-container > img.thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

.card > .info {
    z-index: 1;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-light-bg-color);
    color: var(--light-fg-color);
    font-size: var(--fs-4);
}

.card-3d-model {
    flex-direction: column;
}

.card-3d-model:hover,
.card-3d-model:focus-visible {
  transform: translateY(-8px) scale(1.035);
  box-shadow: 0 24px 40px rgba(0,0,0,0.6);
  z-index: 5;
  outline: none;
}

.card-3d-model:active {
  transform: translateY(-4px) scale(1.02);
}

.card-3d-model > .thumb-container {
    aspect-ratio: var(--preview-img-3dmodel-width)/var(--preview-img-3dmodel-height);
}
.card-3d-model > .thumb-container > img.thumb {
  transition: transform 300ms cubic-bezier(.2,.8,.2,1);
  backface-visibility: hidden;
}
.card-3d-model:hover > .thumb-container > img.thumb,
.card-3d-model:focus-visible > .thumb-container > img.thumb {
  transform: scale(var(--zoom-in-scale-factor)) translateY(-2%);
}

.card-3d-model > .info {
    min-height: 50px;
    padding: calc(0.5 * var(--visual-unit-sz)) ;
}

.card-animation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-animation > .thumb-container {
    flex-grow: 1;
    aspect-ratio: var(--preview-img-animation-width)/var(--preview-img-animation-height);
}

.card-animation > .thumb-container > img.thumb {
  transition: transform 300ms cubic-bezier(.2,.8,.2,1);
  backface-visibility: hidden;
}
.card-animation:hover > .thumb-container > img.thumb,
.card-animation:focus-visible > .thumb-container > img.thumb {
  transform: scale(var(--zoom-in-scale-factor)) translateY(-2%);
}

.card-animation > .info {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--visual-sz-unit);

    padding: var(--visual-sz-unit);
}

.card-animation > .info > .title {
    font-size: var(--fs-2);
}

.card-animation > .info > .description {
}

panel.side {
	position: fixed;
    display:flex;
    flex-direction: column;
    gap: var(--visual-sz-unit);

	min-width: var(--side-panel-width);
	max-width: var(--side-panel-width);
	height: fit-content;

	right: var(--visual-sz-unit);

	background-color: var(--primary-light-bg-color);
    color: var(--light-fg-color);
}

panel.side > .title {
    font-weight: 600;
    font-size: var(--fs-2);
    font-style: italic;
}

panel.side .details {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: max-content minmax(0,1fr);
    column-gap: calc(var(--visual-sz-unit) * 0.6);
    row-gap: calc(var(--visual-sz-unit) * 0.6);
    align-items: start;
}

panel.side .details li {
    display: contents;
}

panel.side .details .details-title {
    grid-column: 1;

    font-size: var(--fs-3);
    font-weight: 600;
    white-space: nowrap;
}

panel.side .details .details-content {
    grid-column: 2;
    align-self: end;

    word-wrap: anywhere !important;
    overflow-wrap: anywhere;

    text-decoration: none;
    color: var(--light-fg-color);
}

panel.side cards {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--visual-sz-unit) * 0.5);
    padding: calc(var(--visual-sz-unit) * 0.1);
}

panel.side cards .card-skill {
    padding: calc(var(--visual-sz-unit) * 0.3);

    font-weight: var(--fw-medium);

    background-color: var(--primary-lighter-bg-color);
    color: var(--dark-fg-color);

    border-radius: 4px;
}

footer {
	height: 10vh;
}

@media (max-width:520px) {
    main {
        flex-direction: column-reverse;
        padding: 0 var(--visual-sz-unit);
    }

    panel.main > cards {
        grid-template-columns: 1fr;
    }

    panel.main {
        width: 100%;
        border-radius: var(--border-radius-small);
    }

    panel.side {
	    position: relative;

        min-width: 100%;
        max-width: 100%;
        width: 100%;
        right: auto;
    }

    panel.side .details {
        grid-template-columns: 1fr;
    }

    panel.side .details li {
        display: flex;
        flex-direction: column;
        gap: calc(var(--visual-sz-unit)*0.1)
    }

    panel.side .details .details-title {
        white-space: normal;
        font-size: var(--fs-5);
    }

    panel.side .details .details-content {
        font-size: var(--fs-6);
        align-self: auto;
    }
}
